@import "mixins";
@import "variables";

/* ===================================================================
========================= SEARCH STYLES ==============================*/


h1 {
  font-weight: $font-weight-extra;
  font-size: $font-size-heading;
}

.search-tweets {
  width: 100%;
  background-color: $background-white;
  box-shadow: $box-shadow-big;
  font-weight: $font-weight-bold;
  padding: $main-spacing-sides;

  @media (max-width: $phone) {
    padding: $main-spacing-bottom-top;
  }

  h1 {
    width: 100%;
    margin: 0;
  }

  .search-description {
    color: $light-grey;
    margin-top: 5px;
  }

  .search-name {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  input {
    height: 75px;
    border-radius: $border-radius-small;
    font-family: $nunito;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    &:focus,
    &:active {
      outline: none;
    }
  }

  input[type="text"] {
    width: 60%;
    background: none;
    border: 1px solid lighten($light-grey, 15%);
    padding-left: 10px;

    &::placeholder {
      color: $dark-grey;
    }

    &:focus{
      &::placeholder {
      color: $light-grey;
    }
  }

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  input[type="submit"] {
    margin-left: $main-spacing-bottom-top;
    cursor: pointer;
    width: 17%;
    min-width: 190px;
    background: $blue;
    border: 1px solid $blue;
    color: #fff;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: darken($blue, 15%);
      transition: background-color 0.3s ease;
    }

    @media (max-width: $tablet) {
      margin-top: $main-spacing-bottom-top;
      width: 100%;
      margin: $main-spacing-bottom-top 0 0 0;
    }
  }
}
