@import "mixins";
@import "variables";

/* ===================================================================
========================= SIDEBAR STYLES ==============================*/

// hides scrollbar
::-webkit-scrollbar {
    position: relative;
    width: 0;
}

// sidebar overlay

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark-grey;
  display: block;
  opacity: 0.8;
  transition: opacity 0.8s ease;
  display: none;
}

aside {
  position: fixed;
  @include flex-start;
  background-color: $background-white;
  padding: 30px 30px;
  top: 0;
  width: 48%;
  z-index: 99;
  max-height: 100vh;
  overflow-y: scroll;
  right: 0;
  transform: translateX(100%);
  transition: all .5s ease-in;

  @media (max-width: $phone) {
    padding: 20px 15px;
    width: 90%;
  }

  &.active { // show sidebar
    transform: translateX(0);
    transition: transform .5s ease-in;
    @media (max-width: $small-desktop) {
      width: 55%;
    }
    @media (max-width: $tablet) {
      width: 85%;
      top: 50px;
      right: 7.5%;
    }
  }



  @include user-profile;

  h2 {
    font-size: $font-size-big + 0.2;
    width: 100%;
    margin: 0;
  }

  .form-field-description {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    margin: 20px 0 5px 0 ;
    width: 100%;
  }

  .input-wrapper {
    @include flex-space-between;
    align-items: center;
    width: 100%;
  }

  @include custom-checkbox;

  button {
    background: none;
    border: 1px solid $light-grey;
    border-radius: $border-radius-small;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    color: $dark-grey;
    cursor: pointer;

    i {
      color: $light-grey;
      margin-right: 10px;
    }
  }

  textarea {
    background: none;
    border: 1px solid $light-grey;
    border-radius: $border-radius-small;
    padding: 10px;
    width: 100%;
    height: 240px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    color: $dark-grey;
  }

  .date {
    position: relative;
    width: 60%;

    @media (max-width: $phone) {
      width: 100%;
      margin-left: 0;
      margin-top: 35px;
    }

    .arrow {
      border: solid $dark-grey;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      position: absolute;
      right: 15px;
      top: calc(50% - 6px);
    }
  }

  .centered-text {
    width: 100%;
    text-align: center;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    color: $light-grey;
    margin-bottom: 30px;
  }

  .submit-sidebar-form {
    background: $green;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    color: $background-white;
    border: none;
    border-radius: $border-radius-small;
    margin-bottom: 60px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: darken($green, 5%);
      transition: background-color 0.3s ease;

    }
  }

  //map placeholder

  .map-container {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: $border-radius-small;
    background-image: url("images/map-placeholder.jpg");

    .map-search {
      position: relative;
      margin: 5px;
      padding: 10px 10px 10px 40px;
      width: calc(100% - 10px);
      border-radius: $border-radius-small;
      border: 1px solid $light-grey;
      text-align: left;
      font-family: $nunito;
      font-size: $font-size-medium;
      font-weight: $font-weight-normal;
      color: $dark-grey;
      }

      i {
        position: absolute;
        top: 18px;
        left: 20px;
        z-index: 98;
      }

      .map-marker {
        position: absolute;
        top: calc(50% - 25px;);
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;
        background: $red;
        border-radius: $border-radius-small;

        &::after {
          content: "";
          position: absolute;
          bottom: -12px;
          display: inline-block;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 12px solid $red;
          margin-left: 14px;
        }

        i {
          position: absolute;
          top: 15px;
          left: 15px;
          color: rgba($background-white, 0.7);
        }
      }
    }
}


// Close sidebar. Side bar can be closed by clicking anywhere oustide sidebar itself too.

.close-button {
  width: 100%;
  height: 35px;
  margin-top: -30px;
  display: flex;
  justify-content: flex-end;
  padding: 0;

  .close {
    position: relative;
    z-index: 100;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color 0.3s ease;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 3px;
      background-color: $light-grey;
      top: 50px;
      transition: background-color 0.3s ease;
    }

    // sidebar closing icon transfomration

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover::before {
      background-color: darken($light-grey, 25%);
      transition: background-color 0.3s ease;
    }
    &:hover::after {
      background-color: darken($light-grey, 25%);
      transition: background-color 0.3s ease;
    }
  }
}

.sidebar-active {

}
