@import "mixins";
@import "variables";
@import "sidebar";


/* ===================================================================
========================= BASIC STYLES ==============================*/

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: $font-size-medium;
  font-weight: $font-weight-normal;
  color: $dark-grey;
  background-color: $background-grey;
  width: 100vw;
  height: 100%;
}

// sidebar overlay

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark-grey;
  display: block;
  opacity: 0;
  transition: opacity 0.6s ease;
  display: none;
}

// Close sidebar. Side bar can be closed by clicking anywhere oustide sidebar itself too.

.close-button {
  width: 100%;
  height: 35px;
  margin-top: -30px;
  display: flex;
  justify-content: flex-end;
  padding: 0;

  .close {
    position: relative;
    z-index: 100;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 3px;
      background-color: $light-grey;
      top: 50px;

    }

    // sidebar closing icon transfomration

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover::before {
      background-color: $dark-grey;
    }
    &:hover::after {
      background-color: $dark-grey;
    }
  }
}

/* ===================================================================
========================= HEADER STYLES ==============================

1. Logo area
2. User area
3. Main navigation

=====================================================================*/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $background-white;


/* ========== 1. LOGO AREA ========== */


  .logo {
    margin-left: 50px;
    line-height: 50px;
    font-weight: $font-weight-extra;
    @media (max-width: $phone) {
      margin: 5px;
      margin-left: 10px;
    }

    span {
      font-size: 15px;
      color: $light-grey;
      margin-left: 5px;

      /* Adds Line before "dashbord" */

      &::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 10px;
        margin-left: 10px;
        margin-right: 4px;
        background-color: #A7A8AF;

      }
    }
  }

/* =========== 1. PROFILE AREA ============ */

  .profile {
    @include flex-centered;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-weight: $font-weight-semi-bold;

    .profile-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;

      @media (max-width: $phone) {
        margin: 5px;
      }

    }


    .profile-arrow {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $dark-grey;
      margin-left: 12px;

    }
    @media (max-width: 600px) {

      p,
      .profile-arrow {
        display: none;
      }
    }
  }

/* =========== 1. MAIN NAVIGATION =========== */

  nav {
    width: 100vw;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-grey;

    ul {
      width: 80%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      height: 85px;
      padding-left: 50px;

      li {
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          transition: all 0.3s ease;

          &:hover {
            color: $blue;
          }

          // add active class to current page

          &.active {
            color: $blue;
          }
        }
      }
    }
  }

  //navigation styles when 880px and less

  @media (max-width: 880px) {
    .nav-active {
      transform: translateX(0);
      transition: transform 0.5s ease-in;
    }

    nav {
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column-reverse;
      padding-right: 30px;

    ul {
      background-color: $dark-grey;
      position: absolute;
      width: 100vw;
      top: 25%;
      left: 0;
      height: 95vh;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      text-align: right;
      padding-left: 0;
      padding-top: 20%;
      padding-right: 30px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      li {
        text-align: right;
        height: calc(60vh / 8);
      }
    }
    }
  }
}

// hamburger menu icon. Icon animation can be added later on

 .menu {
   position: relative;
   background-color: #fff;
   width:25px;
   height: 2px;
   margin-right: 50px;
   display: none;
   cursor: pointer;
   transition: all 0.3 ease;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #fff;
      width:25px;
      height: 2px;
      top: -7px;
      transition: all 0.3 ease;
   }

     &::after {
       content: "";
       display: block;
       position: absolute;
       background-color: #fff;
       width:25px;
       height: 2px;
       top: 7px;
       transition: all 0.3 ease;
     }

    // menu icon appears when screen is 880px o smaller

     @media (max-width: 880px) {
       display: block;
       margin-top: 40px;
       margin-right: 0;
       margin-bottom: 40px;
     }
}

/* ===================================================================
========================= SEARCH STYLES ==============================*/


h1 {
  font-weight: $font-weight-extra;
  font-size: $font-size-heading;
}

.search-tweets {
  width: 100%;
  background-color: $background-white;
  box-shadow: $box-shadow-big;
  font-weight: $font-weight-bold;
  padding: $main-spacing-sides;

  @media (max-width: $phone) {
    padding: 20px;
  }

  h1 {
    width: 100%;
    margin: 0;
  }

  .search-description {
    color: $light-grey;
  }


  input {
    height: 75px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    &:focus,
    &:active {
      outline: none;
    }

  }

  input[type="text"] {
    width: 60%;
    background: none;
    border: 1px solid $light-grey;
    padding-left: 10px;

    &::placeholder {
      color: $dark-grey;
    }

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  input[type="submit"] {
    margin-left: 20px;
    cursor: pointer;
    width: 17%;
    min-width: 190px;
    background: $blue;
    border: 1px solid $blue;
    color: $background-white;

    @media (max-width: $tablet) {
      margin-top: $main-spacing-bottom-top;
      width: 100%;
      margin: $main-spacing-bottom-top 0 0 0;
    }
  }
}

/* ===================================================================
==================== POSTS CONTAINER AND SINGLE POST =================*/

.search-results {
  width: 100%;
  padding: $main-spacing-bottom-top $main-spacing-sides;
  font-weight: $font-weight-bold;

  @media (max-width: $phone) {
    padding: 20px;
  }

  .results-container {
    @include flex;

    @media (max-width: $phone) {
      justify-content: center;
    }

    // single post styling

    .tweet {
      @include flex;
      font-size: $font-size-medium;
      width: calc(33% - 10px);
      margin-bottom: 20px;
      background-color: $background-white;
      padding: 20px;
      border-radius: $border-radius-small;
      box-shadow: $box-shadow-small;

      // two column layput

      @media (max-width: $small-desktop) {
        width: calc(50% - 20px);
        margin-bottom: 40px;
      }

      // one column layput

      @media (max-width: $tablet) {
        width: calc(100% - 50px);
        margin-bottom: 20px;
      }

      @media (max-width: $phone) {
        width: 100%;
      }

      @include user-profile;

      p {
        line-height: 24px;
      }

      .post-date {
        color: $light-grey;
        text-align: right;
        width: 50%;
    }

      .post-body {
        font-weight: $font-weight-normal;
        margin: 0;

        span {
          font-weight: $font-weight-bold;
        }
      }

      .actions {
        @include flex;
        width: 100%;
        @media (max-width: $small-desktop) {
          justify-content: space-around;
        }

        p {
          cursor: pointer;
        }

        a {
          text-decoration: none;
        }
        .hide {
          width: 30%;
          color: $red;

          @media (max-width: $small-desktop) {
            width: 20%;
          }

          @media (max-width: $tablet) {
            padding-top: 25px;
          }
          @media (max-width: $phone) {
            width: auto;
          }
        .hide, .reply,
        .create-report {
          @media (max-width: $small-desktop) {
            width: 33%;
          }
        }

        }

        .reply,
        .create-report {
            color: $blue;
            text-align: right;
            @media (max-width: $tablet) {
              padding-top: 25px;
            }
            }
        }
      }
    }
}

/* ===================================================================
========================= POST PAGES NAVIGATION ======================*/

.pages {
  width: 100%;
  padding: $main-spacing-bottom-top $main-spacing-sides;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;

  @media (max-width: $tablet) {
    justify-content: center;
  }

  // single button styles

  .page {
    background-color: $background-white;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-small;
    margin: 0;
    margin-left: 10px;
    font-weight: $font-weight-semi-bold;
    @include flex-centered;

    @media (max-width: $tablet) {
      padding: 10px 15px;
    }

    // add active class to currrent page

    &.active {
      color: #fff;
      background-color: $dark-grey;
    }
  }
}

/* ===================================================================
========================= FOOTER STYLES ==============================*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  flex-wrap: wrap;
  background-color: #EDEFF3;
  width: 100%;
  color:  #A7A8AF;
  font-size: 16px;
  font-weight: 600;

  @media (max-width: $phone) {
    width: 100%;
    justify-content: center;
  }

  // footer navigation links

  ul {
    list-style-type: none;

    @media (max-width: $phone) {
     text-align: center;
     padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 15px;

      @media (max-width: $phone) {
        display: block;
       margin: 0;
      }

      a {
        color:  $light-grey;
        text-decoration: none;
      }
    }
  }
}
